<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="Packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="DSharpPlus Nightly" value="https://nuget.emzi0767.com/api/v3/index.json" />
  </packageSources>
</configuration>